<!DOCTYPE html>
<html lang="en" class="no-js">
{% load staticfiles %}
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>注册</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
{% if check_pwd_failed %}
    <script type="text/javascript">
        alert("两次输入密码不一致！");
        location.href="{% url 'register' %}"
    </script>
{% endif %}
{% if register_form.errors.username %}
    <script type="text/javascript">
        alert("用户名{{ register_form.errors.username.0 }}");
        location.href="{% url 'register' %}"
    </script>
{% endif %}
{% if register_form.errors.password1 %}
    <script type="text/javascript">
        alert("密码{{ register_form.errors.password1.0 }}");
        location.href="{% url 'register' %}"
    </script>
{% endif %}
{% if register_form.errors.password2 %}
    <script type="text/javascript">
        alert("密码{{ register_form.errors.password2.0 }}");
        location.href="{% url 'register' %}"
    </script>
{% endif %}
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3>注册</h3>
						<form action="{% url 'register' %}" name="f" method="post">
							<div class="input_outer">
								<span class="u_user"></span>
								<input name="username" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入用户名">
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input name="password1" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
							</div>
                            <div class="input_outer">
								<span class="us_uer"></span>
								<input name="password2" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请确认密码">
							</div>
							<div class="mb2" style="padding: 0px 16px 0px 109px"><input type="submit" value="立即注册" class="act-but submit" style="color: #FFFFFF;border: 1px;"></div>
                            {% csrf_token %}
						</form>
					</div>
				</div>
			</div>
		</div><!-- /container -->
		<script src="{% static 'js/TweenLite.min.js' %}"></script>
		<script src="{% static 'js/EasePack.min.js' %}"></script>
		<script src="{% static 'js/rAF.js' %}"></script>
		<script src="{% static 'js/demo-1.js' %}"></script>
	</body>
</html>